<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>홈 입니다.</h1>
    <div th:if="${session.userId != null}">
        <p>Welcome, <span th:text="${session.userId}"></span>!</p>
        <a href="logout">로그아웃</a>
<!--        <form method="delete" th:action="@{/withdraw/{userId}(userId=${session.userId})}" onsubmit="return confirm('정말로 회원 탈퇴하시겠습니까?')">-->
<!--            <button type="submit">회원 탈퇴</button>-->
<!--        </form>-->
    </div>
    <div th:if="${session.userId == null}">
        <a href="login">로그인</a>
        <a href="signup">회원가입</a>
    </div>
</body>
</html>