.trafficLight{
    background-color: #E7E7E7;
    width: 105px;
    height: 30px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px 1px gray;

}

.circle{
    border-radius: 45px;
    width: 16px;
    height: 16px;
    margin: 4px;
}

.green{
    background-color: #00D160;
}
.yellow{
    background-color: #F9D100;
}
.red{
    background-color: #EA3209;
}
.gray{
    background-color: gray;
}