.chatbot-element {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.chatbot-button {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 2px solid #007BFC;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.chatbot-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chatbot-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    margin-right: 10px;
}
