.chat-window {
    position: relative;
    background-color: #FFFFFF;
    width: 500px;
    height: 700px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.chatlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    height: 550px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.chatlist-container{
    height: 100px;
}

.chatfooter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.input-container{
    position: relative;
    border-radius: 25px;
    width: 95%;
    height: 60px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid #E6E6E6;
    cursor: pointer;
    background-color: #FFFFFF;
    justify-content:end;
}

.chatcontent {
    position: relative;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    outline: none;
}

.chatwindow-bar {
    display: flex;
    align-items: center;
}

.chatwindow-button{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 2px solid #007BFC;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.chatwindow-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.x-button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 265px;
    border: 2px solid white;
}

.x-button img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: inherit;
}

.input-container.focus {
    border-color: #007BFC;
}

.send-icon{
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.send-button{
    border-radius:20px;
    background-color: white;
    border: 0;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background-color: #ffffffee;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #007BFC;
    border-radius: 10px;
}

.chatlist::-webkit-scrollbar {
    width: 8px;
}

.chatlist::-webkit-scrollbar-track {
    background-color: #ffffffee;
}

.chatlist::-webkit-scrollbar-thumb {
    background-color: #007BFC;
    border-radius: 10px;
}

.message-send {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    padding: 7px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.answer {
    background-color: #007BFC;
    border-radius: 20px;
    width: 60%;
    padding: 7px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color:#FFFFFF
}

.Button1{
    width: 80px;
    height: 30px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.Button2{
    width: 80px;
    height: 30px;
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}